<!DOCTYPE html>
<html lang="en">
<head>
  <title>{% block title %} {% endblock %}</title>
  <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
  {% block links %} {% endblock %}
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <style>
    html {
      position: relative;
      min-height: 100%;
    }
    body {
      margin-bottom: 60px;
    }
    footer {
      position: absolute;
      bottom: 0;
      width: 100%;
      height: 60px;
      background-color: #f8f9fa;
    }
  </style>
</head>
<body>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="{{url_for('home')}}">Home</a>
    <div class="ml-auto">
      <a id="loginButton" class="btn btn-primary mr-2" href="{{url_for('login')}}">Login</a>
      <a id="signupButton" class="btn btn-success" href="{{url_for('signup')}}">Sign Up</a>
      <a id="logoutButton" class="btn btn-success" href="{{url_for('logout')}}" style="background-color: red;">Logout</a>
    </div>
  </nav>
  {% block body %} {% endblock %}
  <footer>
    <div class="container">
      <span class="text-muted">© 2023 Your Company</span>
    </div>
  </footer>
  <script>
    function cookieExists(name) {
      return document.cookie.split(';').some((item) => item.trim().startsWith(`${name}=`));
    }

    function toggleButtonsVisibility() {
      const loginButton = document.getElementById('loginButton');
      const signupButton = document.getElementById('signupButton');
      const logoutButton = document.getElementById('logoutButton');

      const sessionExists = cookieExists('session');

      if (sessionExists) {
        loginButton.style.display = 'none';
        signupButton.style.display = 'none';
        logoutButton.style.display = 'inline-block';
      } else {
        loginButton.style.display = 'inline-block';
        signupButton.style.display = 'inline-block';
        logoutButton.style.display = 'none';
      }
    }

    window.onload = toggleButtonsVisibility;
  </script>
</body>
</html>